body {
    font-family: "Roboto", sans-serif;
}

/* PAGE NAV STYLES */

.in-page-nav > ul, .in-page-nav > ul > ul {
    list-style: none;
    padding-left: 0px;
    background-color:rgb(106, 106, 106);
    padding: 10px 0px 10px 10px;
    border-radius: 16px;

    color: rgb(230, 230, 230);
    text-align: left;
}

.in-page-nav > ul > li > a {
    text-decoration: underline;
    font-size: 1.3em;
}

/* PAGE BODY / CONTENT STYLES */

body {
    background-color:skyblue;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4 {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
    padding: 0.5em 0 0.5em 0;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}



p {
    font-size: 1.3em;
}

ul > li {
    font-size: 1.2em;
}

ol > li {
    font-size: 1.2em;
}

li > h4 {
    font-size: 1.1em;
}

figure {
    padding: 2em 2em 2em 2em;
}

figcaption {
    font-size: 1.5em;
}

li > a {
    color: #E3A55E;
}

aside {
    width: 40%;
    padding-left: 10px;
    margin-left: 10px;
    float: right;
    border-radius: .5em;
    font-size: .9em;


    background-color: #E3A55E;
  }